
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 8px;
  visibility: visible;
}



::-webkit-scrollbar-track{
  background: #23232e;
}

.App-link {
  color: #61dafb;
}

